<script>
	import { enhance } from '$app/forms';
	import { goto, invalidateAll } from '$app/navigation';
	import { onMount } from 'svelte';

	/** @type {import('./$types').PageData} */
	export let data;
	/** @type {import('./$types').ActionData} */
	export let form;

	let errorMessage = '';
	let loading = false;

	async function handleSubmit(event) {
		const formData = new FormData(this);

		loading = true;
		const response = await fetch(this.action, {
			method: 'POST',
			body: formData
		});

		loading = false;

		/** @type {import('@sveltejs/kit').ActionResult} */
		const result = await response.json();

		if (result.type === 'success') {
			// re-run all `load` functions, following the successful update
			// await invalidateAll();
			errorMessage = '';
			const url = `${data.BASE_URL}/my`;
			goto(url);
			// console.log(result.data);
		}

		if (result.type === 'error') {
			console.log(result.error);
			errorMessage = result.error.message;
		}

		// applyAction(result);
	}
</script>

<svelte:head>
	<title>เข้าสู่ระบบ</title>
</svelte:head>

<main class="w-full max-w-md mx-auto p-6">
	<div
		class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700"
	>
		<div class="p-4 sm:p-7">
			<div class="text-center">
				<h1 class="block text-2xl font-bold text-gray-800 dark:text-white">
					ยืนยันตัวตนเข้าใช้งานระบบ
				</h1>
				<p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
					ยังไม่มีข้อมูลในระบบใช่หรือไม่?
					<a
						class="text-blue-600 decoration-2 hover:underline font-medium"
						href="../examples/html/signup.html"
					>
						ลงทะเบียนที่นี่
					</a>
				</p>
			</div>

			<div class="mt-5">
				<!-- Form -->
				<form method="post" on:submit|preventDefault={handleSubmit}>
					<div class="grid gap-y-4">
						<!-- Form Group -->
						<div>
							<label for="username" class="block text-sm mb-2 dark:text-white">ชื่อผู้ใช้งาน</label>
							<div class="relative">
								<input
									type="text"
									id="username"
									name="username"
									class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
									required
									aria-describedby="username-error"
								/>
								<div
									class="hidden absolute inset-y-0 right-0 flex items-center pointer-events-none pr-3"
								>
									<svg
										class="h-5 w-5 text-red-500"
										width="16"
										height="16"
										fill="currentColor"
										viewBox="0 0 16 16"
										aria-hidden="true"
									>
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
										/>
									</svg>
								</div>
							</div>
							<p class="hidden text-xs text-red-600 mt-2" id="username-error">
								กรุณาระบุชื่อผู้ใช้งาน
							</p>
						</div>
						<!-- End Form Group -->

						<!-- Form Group -->
						<div>
							<div class="flex justify-between items-center">
								<label for="password" class="block text-sm mb-2 dark:text-white">รหัสผ่าน</label>
								<a class="text-sm text-blue-600 decoration-2 hover:underline font-medium" href="#"
									>ลืมรหัสผ่าน?</a
								>
							</div>
							<div class="relative">
								<input
									type="password"
									id="password"
									name="password"
									class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
									required
									aria-describedby="password-error"
								/>
								<div
									class="hidden absolute inset-y-0 right-0 flex items-center pointer-events-none pr-3"
								>
									<svg
										class="h-5 w-5 text-red-500"
										width="16"
										height="16"
										fill="currentColor"
										viewBox="0 0 16 16"
										aria-hidden="true"
									>
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
										/>
									</svg>
								</div>
							</div>
							<p class="hidden text-xs text-red-600 mt-2" id="password-error">
								8+ characters required
							</p>
						</div>
						<!-- End Form Group -->

						<!-- Checkbox -->
						<div class="flex items-center">
							<div class="flex">
								<input
									id="rememberMe"
									name="rememberMe"
									type="checkbox"
									class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
								/>
							</div>
							<div class="ml-3">
								<label for="rememberMe" class="text-sm dark:text-white">จดจำไว้ในระบบ</label>
							</div>
						</div>
						<!-- End Checkbox -->

						{#if errorMessage}
							<div
								class="bg-red-50 border border-red-200 text-sm text-red-600 rounded-md p-4"
								role="alert"
							>
								<span class="font-bold">เกิดข้อผิดพลาด</span>
								{errorMessage}
							</div>
						{/if}

						<button
							disabled={loading}
							type="submit"
							class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
							class:cursor-not-allowed={loading}
						>
							{#if loading}
								<span
									class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full"
									role="status"
									aria-label="loading"
								></span>
							{/if}

							เข้าสู่ระบบ</button
						>
					</div>
				</form>
				<!-- End Form -->
			</div>
		</div>
	</div>
</main>
